@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes zoom {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  .animate-zoom {
    animation: zoom 12s ease-in-out infinite;
  }
}
